.mq-editable-field .mq-cursor {
  border-left: 1px solid black !important;
}

.dark .mq-editable-field .mq-cursor {
  border-left: 1px solid white !important;
}

#iteracciones-table tbody tr:last-child {
  background-color: #d4edda; /* Verde pastel */
  color: #000;
}